<!-- <div>
    <h2>Register</h2>
    <form (submit)="onRegister()">
      <input type="text" name="name" placeholder="Name" [(ngModel)]="name" required />
      <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required />
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required />
      <button type="submit">Register</button>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
    -->
    <div id="register-form">
      <h2 id="register-title">Register</h2>
      <form (submit)="onRegister()">
        <input id="register-name" type="text" name="name" placeholder="Name" [(ngModel)]="name" required />
        <input id="register-email" type="email" name="email" placeholder="Email" [(ngModel)]="email" required />
        <input id="register-password" type="password" name="password" placeholder="Password" [(ngModel)]="password" required />
        <button id="register-button" type="submit">Register</button>
        <p id="register-error" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
    
